@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply container mx-auto max-w-md bg-black;
  }
  #root {
    @apply col m-2 space-y-2;
  }
}

@layer components {
  .err {
    @apply rounded-xl bg-red-800 p-2 text-center text-white;
  }
}

@layer utilities {
  .row {
    @apply flex flex-row;
  }
  .col {
    @apply flex flex-col;
  }
}

/* Spinner */

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
